.gps-toolbar {
  position: relative;
  justify-content: space-between;
  background: #f9f8eb;
  color: #313131;
}

.gps-title {
  flex: 1;
}

.gps-button-desc {
  padding-right: 5%;
}

.gps-fab-container {
  position: fixed;
  bottom: 3%;
  right: 2%;
  margin: 0 auto;
}

.gps-container {
  display: flex;
  flex-wrap: wrap;
  background: #5c8d89;
  justify-content: center;
}

.gps-box {
  margin: 10px;
  width: 19%;
}

.gps-box-title {
  text-align: center;
}

.gps-selected {
  background: #525252;
}

.gps-highlighted {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #add2c9;
  }
  to {
    box-shadow: 0 0 10px 10px #add2c9;
  }
}
